.hover-link:hover {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    text-decoration: none;
  }
  .md\:mb-0 {
    display: flex;
    margin-bottom: 0;
    /* justify-content: center; */
    align-items: center;
}
.mb-6 {
  border: none !important;
  margin-bottom: 1.5rem;
}
.max-w-screen-xl {
  max-width: 100% !important;
}
  .hover-link {
    display: inline-block;
    transition: width 0.3s ease; /*animation*/
  }
  
  .hover-link:hover {
    width: 100%; /*set up with by li*/
  }
  .md{
    justify-content: space-around;
  }
  .md\:justify-between {
    justify-content: space-between !important;
}
.sm\:gap-6 {
  display: flex !important;
  gap: 6.5rem !important;
}
.h-8 {
  width: 70%;
  height: 100% !important;
}
.footer h2 {
  margin-bottom: 10px; /* Adjust the margin as needed */
}
.footer a img {
  box-shadow: none; /* Hide the box-shadow */
}
.text-gray-900 {
  --tw-text-opacity: 1;
  color: #FFC107 !important;
}
.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(227 230 236) !important;
}
.lg\:py-8 {
  background: linear-gradient(to right, #360033, #0b8793);
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.p-4 {
  padding: 2rem !important;
}