.login-container{
    position: relative;
    width: 100%;
    height: 550px;
    background: url('../assets/background.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    /* margin-top: 20px; */
    margin: 20px 0px 20px 0px;
}

.login-container .content-login{
    position: absolute;
width: 58%;
height: 100%;
background-color: transparent;
padding: 80px;
color: #e4e4e4;
display: flex;
justify-content: space-between;
flex-direction: column;
}

.login-container .logreg-box{
    width: calc(100%-58%);
    height: 100%;
}
.text-sci h2{
    font-size: 40px;
    line-height: 1;
}

.text-sci  h2 span{
   font-size: 25px; 
}

.text-sci  p{
    font-size: 16px; 
    margin: 20px 0;
 }

 .social-icon a i{
font-size: 22px;
color: #e4e4e4;
margin-right: 10px;
transition: .5s ease;
 }

 .social-icon a:hover i{
    transform: scale(1.2);
     }


     .logreg-box .form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #e4e4e4e4;
}

.form-box h2{
    font-size: 32px;
    text-align: center;
}
.form-box .input-box{
    position: relative;
    width: 340px;
    height: 50px;
    border-bottom: 2px solid #e4e4e4e4;
    margin: 30px 0;
}

.input-box input{
width: 100%;
height: 100%;
background: transparent;
border: none;
}

.input-box label{
   position: absolute;
   top: 50%;
   left: 10px;
   transform: translateY(-50%);
   font-size: 16px;
   font-weight: 500;
   pointer-events: none;

    }
    .input-box .icon{
        position: absolute;
        top: 13px;
        right: 0;
        font-size: 19px;
    }
        
    
