@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

:root {
	--bg-01: #fff8a7;
	--bg-02: #f9ced7;
	--bg-03: #ebf6f2;
	--bg-04: #b0cdeb;
	--bg-05: #e8dfe4;
}

/* RESET */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Baloo Paaji 2", sans-serif;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

/* ==== QUESTION CONTAINER -- PHÚC HÒA ==== */
.question-container {
	position: relative;
	width: 74%;
	margin: 40px auto;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 24px;
	flex-wrap: wrap;
	padding: 100px 32px 32px;
	border-radius: 8px;
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
}

.radio-inputs-cover {
	position: absolute;
	left: 50%;
	top: 26px;
	transform: translateX(-50%);
}

.radio-inputs {
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	border-radius: 0.5rem;
	background-color: #eee;
	box-sizing: border-box;
	box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
	padding: 0.25rem;
	width: 50vw;
	font-size: 14px;
}

.radio-inputs .radio {
	flex: 0 0 20%;
	text-align: center;
}

.radio-inputs .radio input {
	display: none;
}

.radio-inputs .radio .name {
	display: flex;
	cursor: pointer;
	align-items: center;
	min-height: 41px;
	justify-content: center;
	border-radius: 0.5rem;
	border: none;
	padding: 0.5rem 0;
	color: rgba(51, 65, 85, 1);
	transition: all 0.15s ease-in-out;
	gap: 5px;
}

.radio-inputs .radio input:checked+.name {
	background-color: #fff;
	font-weight: 600;
}

/* ==== QUESTION BOX -- PHÚC HÒA ==== */
/* 1. Question box */
.question-box {
	position: relative;
	border-radius: 8px;
	font-weight: 600;
	width: 224px;
	height: 224px;
	padding: 20px 16px;
	background: var(--bg-01);
	color: #000;
	cursor: pointer;
	border: none;
	outline: none;
	transition: all 0.3s ease-in-out;
}

.question-box::before {
	position: absolute;
	content: "";
	display: block;
	left: 0;
	bottom: 0;
	width: 22px; /* Tăng kích thước để đảm bảo che phủ toàn bộ */
	height: 22px;
	background: rgba(0, 0, 0, 0.2);
	clip-path: polygon(100% 0, 0 0, 100% 100%);
	border-radius: 0 0 0 8px; /* Điều chỉnh cho khớp với góc bo */
}

.question-box::after {
	position: absolute;
	content: "";
	display: block;
	left: 0;
	bottom: 0;
	width: 24px;
	height: 24px;
	background: #fff;
	border-radius: 0 0 0 8px;
	clip-path: polygon(0 0, 0% 100%, 100% 100%);
	transform: translateY(1px) translateX(-1px); /* Đẩy pseudo-element lên trên một chút để che màu nền */
}

.question-box:hover {
	transform: scale(1.1, 1.1);
}

.question-box__text {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	/* Limit to 5 lines */
	line-clamp: 5;
	/* Limit to 5 lines */
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.5;
	/* Adjust line height as needed */
	max-height: calc(1.5em * 5);
	/* 5 lines */
}

/* 2. See more text */
.see-more {
	color: limegreen;
	cursor: pointer;
	font-size: 14px;
}

/* 3. Delete button */
.del-btn-cover {
	position: absolute;
	top: -10px;
	right: 10px;
	z-index: 999;
}

.del-btn {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgba(20, 20, 20, 0.7);
	border: none;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
	cursor: pointer;
	transition-duration: 0.3s;
	overflow: hidden;
	position: relative;
}

.del-icon {
	width: 8px;
	transition-duration: 0.3s;
}

.del-icon path {
	fill: white;
}

.del-btn:hover {
	width: 140px;
	border-radius: 50px;
	transition-duration: 0.3s;
	background-color: rgb(255, 69, 69);
	align-items: center;
}

.del-btn:hover .del-icon {
	width: 30px;
	transition-duration: 0.3s;
	transform: translateY(60%);
}

.del-btn::before {
	position: absolute;
	top: -20px;
	content: "Xóa";
	color: white;
	transition-duration: 0.3s;
	font-size: 2px;
}

.del-btn:hover::before {
	font-size: 13px;
	opacity: 1;
	transform: translateY(20px);
	transition-duration: 0.3s;
}

/* 4. Edit button */
.edit-btn-cover {
	position: absolute;
	top: -8px;
	right: 50px;
	z-index: 999;
}

.edit-btn {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 80px;
	height: 20px;
	border: none;
	padding: 0px 20px;
	background-color: rgb(168, 38, 255);
	color: white;
	font-weight: bold;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 5px 5px 0px rgb(140, 32, 212);
	transition-duration: 0.3s;
}

.edit-icon {
	width: 11px;
	position: absolute;
	right: 0;
	margin-right: 20px;
	fill: white;
	transition-duration: 0.3s;
}

.edit-btn:hover {
	color: transparent;
}

.edit-btn:hover .edit-icon {
	right: 43%;
	margin: 0;
	padding: 0;
	border: none;
	transition-duration: 0.3s;
}

.edit-btn:active {
	transform: translate(3px, 3px);
	transition-duration: 0.3s;
	box-shadow: 2px 2px 0px rgb(140, 32, 212);
}

/* 5. Heart button */
.heart-btn {
	position: absolute;
	left: 16px;
	bottom: 30px;
	width: 100px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border: none;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.089);
	cursor: pointer;
	background-color: transparent;
}

.heart-btn-left {
	width: 60%;
	height: 100%;
	background-color: rgb(255, 50, 50);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
}

.heart-btn-left .like {
	color: white;
	font-weight: 600;
}

.heart-btn-like {
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(238, 0, 0);
	font-weight: 600;
	position: relative;
	background-color: white;
}

.heart-btn-like::before {
	height: 8px;
	width: 8px;
	position: absolute;
	content: "";
	background-color: rgb(255, 255, 255);
	transform: rotate(45deg);
	left: -4px;
}

.heart-btn:hover .heart-btn-left {
	background-color: rgb(219, 0, 0);
}

.heart-btn:active .heart-btn-left {
	background-color: rgb(201, 0, 0);
}

.heart-btn:active .heart-btn-left svg {
	transform: scale(1.15);
	transform-origin: top;
}

/* 6. CHeck mark */
.check-mark-cover {
	position: absolute;
	bottom: 26px;
	right: 20px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: limegreen;
	transition: all 0.4s ease-in-out;
}

.check-mark-cover:hover {
	box-shadow: 0.1em 0.1em 0.3em 0 rgba(0, 0, 0, 0.3);
}

.check-mark {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.check-mark-tooltip {
	position: absolute;
	top: 0;
	left: 50%;
	width: 110px;
	transform: translateX(-50%);
	padding: 0.3em 0.1em;
	opacity: 0;
	pointer-events: none;
	transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
	background: #fff;
	text-align: center;
	z-index: 5;
	border: 1px solid limegreen;
	border-radius: 8px;
	scale: 0;
	transform-origin: 0 0;
	text-transform: capitalize;
	font-weight: 600;
	font-size: 12px;
	color: limegreen;
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.check-mark-cover:hover .check-mark-tooltip {
	top: -35px;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	scale: 1;
	animation: shake 0.5s ease-in-out both;
}

@keyframes shake {
	0% {
		rotate: 0;
	}

	25% {
		rotate: 7deg;
	}

	50% {
		rotate: -7deg;
	}

	75% {
		rotate: 1deg;
	}

	100% {
		rotate: 0;
	}
}

/* ==== DOTS -- PHÚC HÒA ==== */
.dots {
	position: absolute;
	display: flex;
	align-items: center;
	gap: 6px;
	bottom: 6px;
	right: 15px;
}

/* ==== SHOWQUESTIONMODAL and EDITQUESTIONMAL -- PHÚC HÒA ==== */
/* 1. SHOW QUESTION */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	opacity: 0;
	animation: fadeIn 0.3s forwards;
}

.modal-content {
	background: white;
	padding: 20px;
	border-radius: 8px;
	width: 80%;
	max-width: 500px;
	position: relative;
	transform: scale(0.9);
	animation: scaleIn 0.3s forwards;
}

.close-button {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 100px;
	height: 30px;
	cursor: pointer;
	display: flex;
	align-items: center;
	background: red;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
	background: #e62222;
}

.close-button,
.close-button span {
	transition: 200ms;
}

.close-button .text {
	transform: translateX(20px);
	color: white;
	font-weight: bold;
}

.close-button .icon {
	position: absolute;
	border-left: 1px solid #c41b1b;
	transform: translateX(72px);
	height: 24px;
	width: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.close-button svg {
	width: 15px;
	fill: #eee;
}

.close-button:hover {
	background: #ff3636;
}

.close-button:hover .text {
	color: transparent;
}

.close-button:hover .icon {
	width: 100px;
	border-left: none;
	transform: translateX(0);
}

.close-button:focus {
	outline: none;
}

.close-button:active .icon svg {
	transform: scale(0.8);
}

body.no-scroll {
	overflow: hidden;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes scaleIn {
	from {
		transform: scale(0.9);
	}

	to {
		transform: scale(1);
	}
}

/* 2. EDIT QUESTION */
.save-btn-cover {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

.save-btn {
	font-family: inherit;
	font-size: 14px;
	background: royalblue;
	color: white;
	padding: 0.2em 1em;
	padding-left: 0.9em;
	display: flex;
	align-items: center;
	border: none;
	border-radius: 5px;
	overflow: hidden;
	transition: all 0.2s;
	cursor: pointer;
	font-weight: 500;
}

.save-btn span {
	display: block;
	margin-left: 0.3em;
	transition: all 0.3s ease-in-out;
}

.save-btn svg {
	display: block;
	transform-origin: center center;
	transition: transform 0.3s ease-in-out;
}

.save-btn:hover .save-btn-icon-cover {
	animation: fly-1 0.6s ease-in-out infinite alternate;
}

.save-btn:hover svg {
	transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.save-btn:hover span {
	transform: translateX(5em);
}

.save-btn:active {
	transform: scale(0.95);
}

@keyframes fly-1 {
	from {
		transform: translateY(0.1em);
	}

	to {
		transform: translateY(-0.1em);
	}
}

.cancel-btn {
	font-family: inherit;
	font-size: 14px;
	min-width: 72px;
	padding: 0.2em 1em;
	display: flex;
	background: #ddd;
	align-items: center;
	justify-content: center;
	transition: all 0.2s;
	cursor: pointer;
	border: none;
	outline: none;
	border-radius: 5px;
	font-weight: 500;
}

.cancel-btn:hover {
	background: rgb(197, 197, 197);
}

/* ==== LOADER -- PHÚC HÒA ==== */
.loader {
	width: fit-content;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
}

.truckWrapper {
	width: 200px;
	height: 100px;
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	justify-content: flex-end;
	overflow-x: hidden;
}

/* truck upper body */
.truckBody {
	width: 130px;
	height: fit-content;
	margin-bottom: 6px;
	animation: motion 1s linear infinite;
}

/* truck suspension animation*/
@keyframes motion {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(3px);
	}

	100% {
		transform: translateY(0px);
	}
}

/* truck's tires */
.truckTires {
	width: 130px;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 10px 0px 15px;
	position: absolute;
	bottom: 0;
}

.truckTires svg {
	width: 24px;
}

.road {
	width: 100%;
	height: 1.5px;
	background-color: #282828;
	position: relative;
	bottom: 0;
	align-self: flex-end;
	border-radius: 3px;
}

.road::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 100%;
	background-color: #282828;
	right: -50%;
	border-radius: 3px;
	animation: roadAnimation 1.4s linear infinite;
	border-left: 10px solid white;
}

.road::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 100%;
	background-color: #282828;
	right: -65%;
	border-radius: 3px;
	animation: roadAnimation 1.4s linear infinite;
	border-left: 4px solid white;
}

.lampPost {
	position: absolute;
	bottom: 0;
	right: -90%;
	height: 90px;
	animation: roadAnimation 1.4s linear infinite;
}

@keyframes roadAnimation {
	0% {
		transform: translateX(0px);
	}

	100% {
		transform: translateX(-350px);
	}
}

/* Gia Vĩ */
#questionForm {
	display: flex;
	justify-content: center;
	align-items: center;
}

#questionInput {
	width: 495px;
	padding: 9.9px;
	border: 0;
	outline: 2px solid #58184c;
	background: linear-gradient(135deg, #D0E3F4, #FFEBCC);
	border-radius: 6.7px;
	font-size: 16px;
	text-shadow: 0 0 0 #4b5bb7;
	margin-right: 9px;
}

#questionInput::placeholder {
	color: #888;
	font-size: 13px;
	opacity: 1;
}

#questionInput:hover {
	background: #fff;
}


#button {
	cursor: pointer;
	position: relative;
	padding: 9.9px 21px;
	font-size: 16px;
	color: #2B3044;
	border: 2px solid #58184c;
	border-radius: 11px;
	background-color: transform;
	font-weight: 600;
	transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
	overflow: hidden;
	text-transform: uppercase;
	font-weight: bold;
}

#button::before {
	content: '';
	position: absolute;
	inset: 0;
	margin: auto;
	width: 50px;
	height: 50px;
	border-radius: inherit;
	scale: 0;
	z-index: -1;
	background: linear-gradient(77deg, #58184c, #4b5bb7);
	transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

#button:hover::before {
	scale: 3;
}

#button:hover {
	color: #ffffff;
	border: 1px solid #58184c;
	scale: 1.1;
	box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}

#button:active {
	scale: 1;
}


#errorMessage {
	color: #D9534F;
	font-size: 12px;
	margin-top: 3px;
	margin-right: 333.3px;
	text-align: center;
}